html, body, main, .app {
  height: 100%;
}

.form-cont {
  display:flex; 
  justify-content: center;
  align-items: baseline;
  background-size: cover;
  height: 100%;
  /* min-height: 1010px; */
  /* min-height: 500px; */
  font-family: 'Roboto', sans-serif;
  background-image: url("/static/backgrounds/flying-airplane-plane-landing1.jpg");
}

body {
  margin: 0;
  padding: 0;
}

.error-list{
  margin: 0;
  color: orangered;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.params-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 500px; */
}

.flight-input {
  display: flex;
  justify-content: center;
}

.session-submit {
    border-radius: 3px;
    width: 132px;
    height: 54px;
    /* padding: 15px; */
    margin: 0px 15px;
    font-size: 16px;
    color: darkgray;
    border: 1px solid gray;
    transition: all, 0.6s;
    background-color: white;
}

.session-submit:hover {
  transform: translateY(-1px);
  color: blueviolet;
  cursor: pointer;
  border: 1px solid blueviolet;
  background-color: whitesmoke;
}

.session-submit:focus {
  outline: 0;
}


.input-form {
  width: 150px;
  margin: 0px 3px;
}

.input-form input {
  height: 30px;
}

.welcome {
  text-align: center;
  background-color: white;
  opacity: 0.6;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 10px;
  padding: 0px 20px;
  margin: 26px 0px;
  margin-bottom: 20px;
  transition: all, 0.3s;
}

.welcome:hover {
  transform: translateY(-2px);
  /* opacity: 1; */
  /* box-shadow: 5px 5px 2px 1px gray; */
  background-color: rgba(255, 255, 255, 1);
  /* opacity: 1; */
  /* box-shadow: 10px 10px rgba(255, 255, 255, 0.3); */
}

.title-box {
  display: flex;
  flex-direction: column;
}
.welcome p {
    font-weight: 300;
    font-size: 20px;
}

.welcome h2 {
  font-size: 35px;
}

.subtitle {
    padding-left: 80px;
    font-size: 14px;
    font-weight: 300;
    color: forestgreen;
}

.subtitle p {
  margin: 0;
  margin-top: 6px;
}

.title {
  font-size: 135px;
  text-align: center;
  /* font-family: 'Happy Monkey', cursive; */
  font-family: 'Oldenburg', cursive;
  color: floralwhite;
  opacity: 0.8;
  border-bottom: 3px solid forestgreen;
  width: 77%;
  align-self: center;
  margin-bottom: 12px;
}