.form-cont {
  display:flex; 
  justify-content: center;
  background-size: cover;
  min-height: 1010px;
  /* min-height: 500px; */
  font-family: 'Roboto', sans-serif;
  background-image: url("https://static.pexels.com/photos/6511/flying-airplane-plane-landing.jpg");
}

body {
  margin: 0;
  padding: 0;
}

.params-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

