.graph {
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  background-size: cover;
  background-image: url("/static/backgrounds/pexels-photo-6150601.jpeg");
  font-family: 'Roboto', sans-serif;
  min-height: 1010px;
}

.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delay-container {
  background-color: white;
  border-radius: 3px 3px 0px 0px;
  text-align: center;
  border-bottom: 1px solid gray;
  font-size: 14px;
}

.no-delay {
  color: green;
}

.delay {
  color: red;
}

.xValues text {
  font-size: 10px;
}

.actual-graph {
  background-color: whitesmoke;
  /* text-align: center; */
  border-radius: 0px 0px 3px 3px;

}

.info-container {
    display: flex;
    background-color: white;
    border-radius: 3px;
    flex-direction: column;
}

.graph-h3 {
  text-align: center;
}