.graph {
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  background-size: cover;
  background-image: url("/static/backgrounds/pexels-photo-615060.jpeg");
  font-family: 'Roboto', sans-serif;
  min-height: 1010px;
}

.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delay-container {
  background-color: white;
  text-align: center;
}

.no-delay {
  color: green;
}

.delay {
  color: red;
}